_testing.py
creds.json
tf_perms.py
*.egg
*.pyx
jamfapi.egg-info
__pycache__
.DS_Store
README.MD
JSONTEST.json
clientauth.json
completed_payload_no_jamf.mobileconfig
downloaded285.mobileconfig
osx_config_profile_wrapper.xml